/*
 *Name: Grayson Sparks
 *UnityID: 200642912
 *Date: 11/9/2025
 *Assignment: Guided lab 4
 *Description: Guided lab 4, 
 */
 
p {
    font-family: Times;
font-size: 16px;
color: maroon;}

.table-border {
    border: 1px solid #decaff;
}

#photo-resize {
    max-width: 250px;
    max-height: 300px;
}
